<div>
  <h5 class="title is-5 ta-center">Notehelper</h5>
  <div *ngFor="let month of months" class="month-card">
    <h4 class="title is-4 ta-center">{{ month.name }} <span>symbol</span></h4>
    <div *ngFor="let day of month.days" class="day">
      <div id="firstColumn">
        <div class="ta-center">{{ day.weekDayName }} {{ day.dateInMonth }}</div>
      </div>
      <div>symbol1</div>
      <div>symbol2</div>
      <div>
          <span *ngIf="!day.editMode">{{day.persons}}</span>
        <input #personInput (click)="personInput.select()" *ngIf="day.editMode" name="persons" class="ta-center" type="number" [(ngModel)]="day.persons" />
      </div>
      <div>
          <span *ngIf="!day.editMode">{{day.phone}}</span>
        <input #phoneInput (click)="phoneInput.select()" *ngIf="day.editMode" name="phone" class="ta-center" type="number" [(ngModel)]="day.phone" />
      </div>
      <button *ngIf="!day.editMode" class="button is-light" id="lastColumn" (click)="day.editMode = true"><i class="icon-edit"></i></button>
      <button *ngIf="day.editMode" class="button is-success" id="lastColumn" (click)="day.editMode = false"><i class="icon-floppy"></i></button>
    </div>
  </div>
</div> 
